.neon-pink {
  box-shadow: 0 0 10px #e3dcec, 0 0 20px #cba4c4, 0 0 30px #a74278,
    0 0 40px #5f1d45;
}

.neon-blue {
  box-shadow: 0 0 10px #6e829f, 0 0 20px #3b5987, 0 0 30px #0f477f,
    0 0 40px #0d3470;
}

.glitcheffect {
  position: relative;
  overflow: hidden;
}
.glitcheffect img {
  position: relative;
  z-index: 1;
  display: block;
}

.glitchlayers {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.glitch {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.hover-glitch .glitch:nth-child(1),
.hover-glitch .glitch:nth-child(2),
.hover-glitch .glitch:nth-child(3) {
  animation: none !important;
}

.glitchlayers .glitch:nth-child(1) {
  transform: translate(-5%);
  animation: glitch-anim-1 2s infinite linear alternate;
}

.glitchlayers .glitch:nth-child(2) {
  transform: translate(3%) translateY(3%);
  animation: glitch-anim-2 2.3s -0.8s infinite linear alternate;
}

.glitchlayers .glitch:nth-child(3) {
  transform: translateX(5%);
  animation: glitch-anim-flash 1s infinite linear;
}

@keyframes glitch-anim-1 {
  0% {
    clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
  }
  10% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
  }
  50% {
    clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
  }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
  }
  70% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
  }
  15% {
    clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
  }
  25% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  30% {
    clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
  }
  45% {
    clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
  }
  50% {
    clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
  }
  65% {
    clip-path: polygon(0 60%, 100% 60%, 100% 68%, 0 68%);
  }
  75% {
    clip-path: polygon(0 %88, 100% 80%, 100% 80%, 0 88%);
  }

  80% {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  }
  95% {
    clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
  }
  100% {
    clip-path: polygon(0 1%, 100% 11%, 100% 15%, 0 15%);
  }
}

@keyframes glitch-anim-flash {
  0% {
    opacity: 0.2;
  }
  30%,
  100% {
    opacity: 0;
  }
}
