.bubbles {
  @apply flex flex-wrap;
}
.bubbles span {
  @apply mx-1 table h-8 w-8 min-w-fit rounded-full bg-primary p-4;
  box-shadow: 0 0 10px 10px #00224744, 0 0 50px theme(colors.primary.DEFAULT),
    0 0 100px theme(colors.primary.DEFAULT);
  animation: bubble-up 15s linear infinite;
}
.bubbles span:nth-child(even) {
  @apply bg-secondary;
  box-shadow: 0 0 10px 10px #5c003844, 0 0 50px theme(colors.secondary.DEFAULT),
    0 0 100px theme(colors.secondary.DEFAULT);
}
@keyframes bubble-up {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(0vh) scale(1);
  }
}
